/*

	mdal.css

*/

/* ========================================================================== */
/* -------------------------------------------------------------------------- */
/* # Modal */
/* -------------------------------------------------------------------------- */
/* ========================================================================== */

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Containers */
/* ////////////////////////////////////////////////////////////////////////// */

#modal_wrap {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.875);
	transition-property: background-color;
	z-index: 100;
}

#modal {
	width: 800px;
	height: 600px;
	color: white;
	font-size: 0;
	font-family: 'Segoe UI', sans-serif;
	border-radius: 8px;
	background-color: rgba(144,64,176,.625);
	box-sizing: border-box;
}

#modal_content {
	width: 736px;
	height: inherit;
	left: 32px;
	top: 0px;
}

#modal.tiny {
	width: 320px;
	height: 400px;
}

#modal.tiny #modal_content {
	width: 288px;
	left: 16px;
}

#keys,
#slots {
	left: 0;
	top: 80px;
	height: 432px;
	width: 736px;
}

#keys div,
#slots div {
	position: relative;
}

[data-nav-row] {
	display: block;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Texts */
/* ////////////////////////////////////////////////////////////////////////// */

#modal h4,
#modal em,
#modal strong,
#modal kbd {
	font-style: normal;
	font-weight: normal;
	font-family: 'Segoe UI Semibold', sans-serif;
}

#modal h4 {
	margin: 0;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	text-align: center;
}

#modal h4.subheader {
	margin: 8px 0 15px; /* -1px for border bottom */
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: left;
	border-bottom: 1px solid rgba(255,255,255,.25);
	font-variant: small-caps;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Inputs */
/* ////////////////////////////////////////////////////////////////////////// */

@keyframes input-focus {
	0%   {border-color: white; color: white;}
	100% {border-color: rgba(224,224,255,.375); color: rgba(224,224,255,.375);}
}
@keyframes input-focus-hover {
	0%   {border-color: mediumspringgreen; color: mediumspringgreen;}
	50%  {border-color: rgba(224,224,255,.375); color: rgba(224,224,255,.375);}
	100% {border-color: white; color: white;}
}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Buttons */
/* ////////////////////////////////////////////////////////////////////////// */

#modal button {
	color: #222;
	font-size: 13px;
	font-family: 'Segoe UI', sans-serif;
	border: 2px solid transparent;
	border-radius: 2px;
	background-color: rgba(192,192,240,.625);
	box-sizing: content-box;
}
#modal button.small {width: 60px; height: 30px;}
#modal button.large {width: 80px; height: 40px;}
#modal button.block {
	display: block;
	width: 100%;
	height: 48px;
	font-size: 20px;
	border-radius: 4px;
	box-sizing: border-box;
}
#modal button.round {
	height: 30px;
	border-color: white;
	border-radius: 30px;
}
#modal button:focus:not(:disabled) {background-color: yellow; outline: 0;}
#modal button:hover:not(:disabled) {background-color: mediumspringgreen;}
#modal button:active:not(:disabled) {background-color: mediumseagreen;}
#modal button:disabled {opacity: .25;}
#modal button.revert {color: white; background-color: transparent;}
#modal button.revert:focus:not(:disabled),
#modal button.revert:hover:not(:disabled),
#modal button.revert:active:not(:disabled) {color: #222;}
#modal button.round:hover:not(:disabled) {color: mediumspringgreen; border-color: mediumspringgreen;}
#modal button::-moz-focus-inner {border: 0;}

#buttons {
	position: absolute;
	left: 0;
	top: 520px;
	width: 736px;
	height: 80px;
}
#buttons button {
	position: absolute;
	top: 16px;
}
#buttons button.large {
	top: 12px;
}
#reset_keymap,
#delete_slot {left: 0;}
#save_slot,
#load_slot {left: 328px;}

#change_keyboard_layout {
	left: 312px;
	width: 112px;
	background-color: transparent !important;
	opacity: .5;
}
#change_keyboard_layout:focus {animation: .75s linear 0s infinite alternate none running input-focus;}
#change_keyboard_layout:focus:hover {animation-name: input-focus-hover; animation-duration: 1.5s;}
#change_keyboard_layout:hover,
#change_keyboard_layout:focus {opacity: 1;}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Close */
/* ////////////////////////////////////////////////////////////////////////// */

#close {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 44px;
	height: 44px;
	font-size: 0 !important;
	border-radius: 4px !important;
	z-index: 1;
}

#close:before,
#close:after {
	content: '';
	position: absolute;
	left: 8px;
	top: 20px;
	width: 28px;
	height: 4px;
	background-color: white;
}
#close:before {transform: rotate(45deg);}
#close:after {transform: rotate(-45deg);}
#close:focus:before,
#close:focus:after,
#close:hover:before,
#close:hover:after,
#close:active:before,
#close:active:after {background-color: #222;}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Menu */
/* ////////////////////////////////////////////////////////////////////////// */

#menu {
	width: inherit;
}

#menu button:not(:last-of-type) {
	margin-bottom: 16px;
}

#menu button kbd {
	position: absolute;
	left: 12px;
	top: 12px;
	height: 24px;
	padding: 0px 4px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 4px;
	border: 2px solid white;
	box-sizing: border-box;
	opacity: .375;
}

#menu button:hover kbd ,
#menu button:focus kbd,
#menu button:active kbd {
	border-color: #222;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Keymap */
/* ////////////////////////////////////////////////////////////////////////// */

.key {height: 40px;}
.key,
.key div {
	display: inline-block;
}
.key {width: 33.333333333333333333333333333333%;}
.key div {font-size: 20px;}
.key div:nth-child(odd) {
	width: 35%;
	text-align: center;
	background-color: rgba(255,255,0,.5);
	background-color: transparent;
}
.key div:nth-child(even) {
	width: 65%;
	color: whitesmoke;
	background-color: rgba(255,0,0,.5);
	background-color: transparent;
}
.key kbd {
	position: relative;
	display: inline-block;
	min-width: 16px;
	height: 28px;
	line-height: 28px;
	padding: 0 6px;
	color: mediumspringgreen;
	background-color: rgba(0,0,0,.25);
	border: 2px solid rgba(224,224,255,.375);
	border-radius: 4px;
}
.key em {color: gold;}
.key small {color: silver;}
.key u {text-decoration: underline solid darkgoldenrod;}

[data-cmd]:hover {border-color: mediumspringgreen;}
[data-cmd]:focus {border-color: white; color: white; outline: 0; animation: .75s linear 0s infinite alternate none running input-focus;}
[data-cmd]:focus:hover {animation-name: input-focus-hover; animation-duration: 1.5s;}
[data-cmd].edit {animation: .75s linear 0s infinite alternate none running key-edit !important; box-shadow: 0 0 6px 3px rgba(255,208,0,.375);}
[data-cmd].error.wrong {color: red !important;}
[data-cmd].error:before {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 20px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	border-radius: 100%;
	background-color: yellow;
	animation-duration: .25s;
	animation-iteration-count: 4;
	animation-direction: alternate;
}
[data-cmd].error.warning:before,
[data-cmd].error.forbidden:before {
	animation-name: key-error;
}
[data-cmd].error.warning:before {
	content: '!';
	color: black;
	background-color: yellow;
}
[data-cmd].error.forbidden:before {
	content: '‼';
	color: white;
	background-color: red;
}
@keyframes key-edit {
	0%   {border-color: yellow; color: yellow;}
	100% {border-color: rgba(224,224,255,.375); color: rgba(224,224,255,.375);}
}
@keyframes key-error {
	0%   {top: -10px; left: -10px; width: 20px; height: 20px; line-height: 20px;}
	100% {top: -12px; left: -12px; width: 24px; height: 24px; line-height: 24px;}
}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Settings */
/* ////////////////////////////////////////////////////////////////////////// */

#setting_audio,
#setting_language {
	position: relative;
	margin: 0 32px 32px;
	width: 224px;
}

#setting_audio > div,
#setting_language > div {
	position: static;
	display: block;
}

#setting_audio > div:after,
#setting_language > div:after {
	content: '';
	clear: both;
	display: table;
}

#setting_audio > div > * {
	vertical-align: middle;
}

#setting_audio .checkbox,
#setting_audio .vu-meter {
	position: relative;
	float: left;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Checkboxes */
/* ////////////////////////////////////////////////////////////////////////// */

/*

	Checkboxes trick found at W3Schools
	https://www.w3schools.com/howto/howto_css_custom_checkbox.asp

*/

/* Checkboxes */
.checkbox {
	display: inline-block;
	margin: 0;
}
.checkbox > * {
	vertical-align: middle;
}

/* Checkboxes input */
.checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 32px;
	margin: 0;
	opacity: 0;
}

/* Checkboxes em */
.checkbox em {
	display: inline-block;
	width: 64px;
	height: 32px;
	color: rgba(255,255,255,.75);
	font-size: 13px;
	line-height: 32px;
	text-align: center;
}

/* Checkboxes span */
.checkbox span {
	box-sizing: border-box;
}
.checkbox.toggle span {
	width: 48px;
	height: 24px;
	border: 4px solid transparent;
	border-radius: 24px;
	background-color: rgba(192,192,240,.25);
}
.checkbox.crossmark span,
.checkbox.checkmark span {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	border: 2px solid rgb(160,144,192);
}

/* Checkboxes pseudo-classes */
.checkbox.toggle input:checked + span {background-color: rgba(192,192,240,.625);}
.checkbox.toggle input:focus + span {background-color: yellow;}
.checkbox.toggle input:hover + span {background-color: mediumspringgreen;}
.checkbox.crossmark input:focus + span,
.checkbox.checkmark input:focus + span {border-color: yellow;}
.checkbox.crossmark:hover input + span,
.checkbox.checkmark:hover input + span {border-color: mediumspringgreen;}

/* Checkboxes pseudo-elements */
.checkbox.toggle span:before,
.checkbox.crossmark span:before,
.checkbox.crossmark span:after,
.checkbox.checkmark span:before {
	content: '';
	position: absolute;
}
.checkbox.crossmark span:before,
.checkbox.crossmark span:after,
.checkbox.checkmark span:before {
	opacity: 0;
}
.checkbox.crossmark input:checked + span:before,
.checkbox.crossmark input:checked + span:after,
.checkbox.checkmark input:checked + span:before {
	opacity: 1;
}

/* Checkboxes toggle pseudo-element */
.checkbox.toggle span:before {
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	border-radius: 100%;
	background-color: rgb(96,48,112);
	box-sizing: border-box;
	transition: left .0625s;
}
.checkbox.toggle input:checked + span:before {left: 24px;}

/* Checkboxes cross mark pseudo-elements */
.checkbox.crossmark span:before,
.checkbox.crossmark span:after {
	width: 16px;
	height: 2px;
	left: 2px;
	top: 9px;
	background-color: rgb(160,144,192);
}
.checkbox.crossmark span:before {transform: rotate(45deg);}
.checkbox.crossmark span:after {transform: rotate(-45deg);}
.checkbox.crossmark input:focus + span:before,
.checkbox.crossmark input:focus + span:after {background-color: yellow;}
.checkbox.crossmark input:hover + span:before,
.checkbox.crossmark input:hover + span:after {background-color: mediumspringgreen;}

/* Checkboxes check mark pseudo-element */
.checkbox.checkmark span:before {
	width: 5px;
	height: 10px;
	left: 6px;
	top: 2px;
	border-width: 0 3px 3px 0;
	border-style: solid;
	border-color: rgb(160,144,192);
	transform: rotate(45deg);
}
.checkbox.checkmark input:focus + span:before {border-color: yellow;}
.checkbox.checkmark input:hover + span:before {border-color: mediumspringgreen;}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ VU Meters */
/* ////////////////////////////////////////////////////////////////////////// */

.vu-meter {
	display: inline-block;
	width: 96px;
	height: 24px;
	margin: 4px 8px;
	top: 0;
	left: 0;
	text-align: center;
	border: 2px solid transparent;
	box-sizing: border-box;
	transition: .125s opacity;
}
.vu-meter.disabled {opacity: 0;}
.vu-meter:not(.disabled):focus {border-color: yellow; outline: 0;}
.vu-meter:not(.disabled):hover {border-color: mediumspringgreen;}

.vu-meter span {
	display: inline-block;
	width: 18px;
	height: 12px;
	margin: 4px 2px;
	background-color: rgba(192,192,240,.25);
}
.vu-meter span.active {background-color: rgba(192,192,240,.625);}
.vu-meter:not(.disabled):focus span.active {background-color: yellow;}
.vu-meter:not(.disabled):hover span.active {background-color: mediumspringgreen;}

/* ////////////////////////////////////////////////////////////////////////// */
/* @ Slots */
/* ////////////////////////////////////////////////////////////////////////// */

.slot {
	display: inline-block;
	width: 360px;
	height: 76px;
	margin-bottom: 8px;
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: rgba(0,0,0,.375);
}
.slot:nth-child(odd) {margin-right: 8px;}
.slot:hover:not(.disabled) {border-color: mediumspringgreen; color: mediumspringgreen;}
.slot:focus:not(.disabled) {border-color: rgb(224,224,255); outline: 0; animation: .75s linear 0s infinite alternate none running input-focus;}
.slot:focus:hover:not(.disabled) {animation-name: input-focus-hover; animation-duration: 1.5s;}
.slot.active {background-color: rgba(0,0,0,.625);}
.slot.disabled {opacity: .25;}
.slot > div {position: relative; display: inline-block; height: inherit;}
.slot > div:nth-child(1) {float: left; width: 76px; line-height: 76px; font-size: 14px; text-align: center; text-transform: uppercase;}
.slot > div:nth-child(2) {float: right; width: 282px;}
.slot p {position: absolute; left: 4px; height: 24px; line-height: 24px; margin: 0; font-size: 14px;}
.slot p:first-child {color: gold; text-transform: uppercase;}
.slot p:nth-child(1) {top: 26px;}
.slot p:nth-child(2) {top: 0;}
.slot p:nth-child(3) {top: 52px;}
.slot img {width: 76px; height: 76px; background-color: black;}
.slot time {
	position: absolute;
	top: 0;
	right: 8px;
	font-size: 11px;
	opacity: .75;
}
.slot small {opacity: .875;}
.slot .campaign {color: dodgerblue;}
.slot .skirmish {color: red;}
